@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    scroll-behavior: smooth;

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: #FAFAFA;

    position: relative;
}
.wrapper-line{
    transition: 1s;        
}       
.wrapper-line:hover .line{
    width: 100%;
    transition: 1s ease ;        
}       
